@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

:root{
  /* colors */
  --primary-color: #7c3ead;
  --dark-gray: #a7a7a7;
  --offwhite: #eeeeee;

  /* spacing-variables */
  --rem-space: 1rem;
}

body{
  font-family: 'Merriweather', sans-serif;
  margin: var(--rem-space);
  box-sizing: border-box;
  border-radius: var(--rem-space);
  box-shadow: rgba(14, 38, 37, 0.12) 0px 2px 4px 0px,
                rgba(14, 38, 37, 0.32) 0px 2px 16px 0px;
}

.navigation{
  background-color: var(--primary-color);
  padding: var(--rem-space);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: var(--rem-space);
  border-top-right-radius: var(--rem-space);
}

.nav-logo{
  margin: 0;
  font-size: large;
}

.link{
  text-decoration: none;
  color: white;
}

.link-active{
  font-weight: bolder;
}

.menu-toggle {
  color: white;
  font-size: large;
}

.main-menu {
  display: none;
  position: absolute;
  top: var(--rem-space);
  margin: 0 var(--rem-space);
  padding-top: var(--rem-space);
  height: 100%;
  background-color: white;
  border-top-right-radius: var(--rem-space);
	transition: right 0.3s ease,
				      box-shadow 0.3s ease;
  z-index: 999;
  scroll-margin-top: var(--rem-space);
  
}

.main-menu ul {
  list-style: none;
  margin: 0;
  padding: calc(var(--rem-space)*1.5) 0 0;
  min-height: 80%;
  width: 60vw;
  background: #ffffff;
  text-align: center;
}

.main-menu a {
  display: block;
  padding: var(--rem-space);
  color: var(--primary-color);
  text-decoration: none;
}
/* 
.main-menu li>a{
  border-bottom: 1px solid #bbbbbb;
}

.main-menu li:first-child a {
  border-top: 1px solid #bbbbbb;
} */

.main-menu:target{
  scroll-margin-top: var(--rem-space);
  display:block;
  right: 0;
}

.menu-close {
  position: absolute;
  right: 0;
  top: 0;
  font-size: large;
}

.main-menu:target .menu-close, .menu-close {
  z-index: 1001; 
}

.hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--rem-space);
}

.hero-image{
  width: 70vw;
  margin: var(--rem-space);
  border-radius: var(--rem-space);
}

.hero-heading{
  font-size: large;
  text-align: center;
}

.hero-heading-highlight{
  color: var(--primary-color);
}

.paragraph-text{
  font-size: small;
}

.section{
  padding: var(--rem-space);
  background-color: white;
}

h2{
  text-align: center;
  text-decoration: underline;
  font-size: large;
}

.section-offwhite{
  background-color: var(--offwhite);
}

.section-text{
  text-align: center;
  word-spacing: 0.5rem;
  font-weight: lighter;
  font-size: small;
  color: var(--primary-color);
}

.container-flex-wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-cards{
  width: 240px;
  padding: var(--rem-space);
  margin: var(--rem-space) 0;
  border: 1px solid var(--primary-color);
  border-radius: var(--rem-space);
}

.container-cards-title{
  margin-top: 0;
  font-weight: lighter;
  font-size: calc(var(--rem-space)*0.9);
  font-weight: bold;
}

.container-cards-description{
  font-size: calc(var(--rem-space)*0.8);
}

.button {
  border: 0;
  font-weight: bold;
  border-radius: calc(var(--rem-space)*0.5);
  cursor: pointer;
}

.div-content-center{
  display: flex;
  justify-content: center;
}

.button-primary, .button-secondary{
  font-size: calc(var(--rem-space)*0.8);
  padding: calc(var(--rem-space)*0.5);
  margin: calc(var(--rem-space)*0.25);
  border: 1px solid var(--primary-color);
}

.button-primary{
  margin-left: 0;
}

.button-primary, .button-cta{
  background: var(--primary-color);
  color: white;
  box-shadow: rgba(14, 38, 37, 0.12) 0px 1px 2px 0px,
              rgba(14, 38, 37, 0.32) 0px 2px 4px 1px;
}

.button-secondary, .button-cta:hover, .button-blog{
  background: white;
  color: var(--primary-color);
  box-shadow: rgba(170, 170, 170, 0.12) 0px 1px 2px 0px,
                rgba(95, 95, 95, 0.32) 0px 2px 4px 1px;
}

.button-cta, .button-blog{
  font-size: var(--rem-space);
  padding: calc(var(--rem-space)*0.75);
  margin: var(--rem-space);
  margin-top: calc(var(--rem-space)*0.5);
}

.blog-text{
  max-width: 900px;
  text-align: center;
  margin: var(--rem-space) auto;
}

.footer{
  padding: var(--rem-space);
  color: white;
  background-color: var(--primary-color);
  border-bottom-left-radius: var(--rem-space);
  border-bottom-right-radius: var(--rem-space) ;
}

.span-icons{
  margin: 0 var(--rem-space);
  font-size: calc(var(--rem-space)*1.5);
}

.footer>h5{
  text-align: center;
  margin-bottom: 0;
}

.div-link-content{
  padding: var(--rem-space);
  font-size: small;
}

.div-link-content>a{
  margin: 0 var(--rem-space);
  /* cursor: pointer; */
}

@media(min-width: 400px){
  .hero-image{
    width: 40vw;
  }

  .container-cards{
    margin: calc(var(--rem-space)*1.2);
  }
}

@media (min-width: 768px) {
  
  .nav-logo{
    padding-left: var(--rem-space);
    font-size: 24px;
  }
  
  .menu-toggle,
  .main-menu .menu-close {
    display: none;
  }
  
  .main-menu {
    display: block;
    position: relative;
		left: auto;
		top: auto;
    height: auto;
    background: none;
    padding-top: 0rem;
    margin: 0rem;
  }
  
  .main-menu ul {
    display: flex;
    padding: 0;
    height: auto;
    width: auto;
    background: none;
  }
  
  .main-menu a {
    color: white;
    border: 0 !important;
  }
  
  .main-menu a:hover,
  .main-menu a:focus {
    background: none; 
    font-weight: bolder;
  }
  
  .hero{
    flex-direction: row;
    max-width: 1000px;
    margin: auto;
  }
  
  .hero-image{
    width: 25vw;
    margin: calc(var(--rem-space)*2);
  }
  
  .container{
    padding: 0 calc(var(--rem-space)*2);
  }

  .container-flex-column{
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .hero-heading{
    font-size: 32px;
  }
  
  .hero-text{
    margin-top: 0;
  }

  .paragraph-text{
    font-size: medium;
  }
  
  .section{
    padding: calc(var(--rem-space)*2);
  }
  
  h2{
    margin: 0;
    font-size: calc(var(--rem-space)*1.5);
  }
  
  .section-text{
    font-size: calc(var(--rem-space)*1.125);
  }

  .container-cards{
    margin: calc(var(--rem-space)*1.2);
  }

  .span-icons{
    margin: calc(var(--rem-space)*0.5) var(--rem-space);
  }
}