.page{
  max-width: 47rem;
  margin-left: auto;
  margin-right: auto;
  border-left: 3px solid var(--primary-color);
}

.timeline-group{
  padding: var(--rem-space) 0;
  overflow: hidden;
}

.time{
  padding: 0.5rem var(--rem-space);
  color: var(--year-color,black);
  font-weight: bold;
  background-color: var(--year-backgroundColor, var(--offwhite));
  width: max-content;
}

.timeline-year{
  --year-color: white;
  --year-backgroundColor: var(--primary-color);
  padding: 0.5rem var(--rem-space);
  font-weight: bold;
  width: max-content;
}

.timeline-header{
    margin-top: var(--rem-space);
    margin-bottom: 0;
    font-size: var(--rem-space);
}

.card{
  border-radius: 2px;
  margin: var(--rem-space);
  margin-right: 0.25rem;
  border-left: 3px solid var(--primary-color);
  box-shadow: rgba(14, 38, 37, 0.12) 0px 1px 2px 0px,
              rgba(14, 38, 37, 0.32) 0px 2px 4px 1px;
  background-color: white;
  padding: 1.5rem 1.5rem 1.25rem;
  position: relative;
}

.card::before{
  content: "";
  width: 50%;
  height: 2px;
  background-color: var(--primary-color);
  position: absolute;
  top: var(--rem-space);
  left: -50%;
}

@media(min-width: 768px){
  .card-title{
    font-size: 1.25rem
  }
}
